* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
}

/* general rules */
.mgr-03 {
  margin-right: 0.3em;
}

/* testing colors */



main {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  background-color: royalblue;
}

footer {
  width: 100%;
  height: 200px;
  background-color: seagreen;
}

/* header */
/* general header rules */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}
ul.header-btn {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
ul.header-btn li {
  list-style-type: none;
}

/* left and right header-btn */
ul.header-btn button {
  color: white;
  background-color: gray;
  cursor: pointer;
}

li.header-left-btn button {
  padding: 0.3em;
  margin: 0.5em 0.5em;
  border: 0;
  border-radius: 7px;
}

li.header-right-btn button {
  margin: 0.5em 0;
  padding: 0.3em;
  font-size: 0.8em;
  border: 0;
  border-radius: 3px;
}

