* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
}

/* general rules */
.mgr-03 {
  margin-right: 0.3em;
}

/* header */
/* general header rules */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: black;
}

ul.header-btn {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
ul.header-btn li {
  list-style-type: none;
}

/* left and right header-btn */
ul.header-btn button {
  color: white;
  background-color: gray;
  cursor: pointer;
}

li.header-left-btn button {
  padding: 0.3em;
  margin: 0.5em 0.5em;
  font-size: 1.5em;
  border: 0;
  border-radius: 7px;
}

li.header-right-btn button {
  margin: 0.5em 0.5em;
  padding: 0.3em;
  font-size: 1.5em;
  border: 0;
  border-radius: 3px;
}

/* main flex section */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6% 1%;
}

div.pinco-pallo {
  position: relative;
  margin-bottom: 1%;
  margin-right: 0.5%;
}

div.pinco-pallo.pdr-0 {
  padding-right: 0;
}

div.pinco-pallo div.pinco-pallo-text {
  position: absolute;
  bottom: 2%;
  left: 0;
  color: white;
  background-color: gray;
  opacity: 85%;
  padding: 1% 3%;
  font-size: 0.7em;
}

/* footer */
footer {
  display: flex;
}
footer div.left-column {
  width: 25%;
  height: 50px;
  background-color: red;
}

footer div.middle-column{
  width: 50%;
  height: 50px;
  background-color: blue;
}

footer div.right-column {
  width: 25%;
  height: 50px;
  background-color: yellow;
}
