* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
}

/* testing colors */

header {
  width: 100%;
  height: 200px;
  /* background-color: red; */
}

main {
  width: 90%;
  margin: 0 auto;
  height: 500px;
  background-color: royalblue;
}

footer {
  width: 100%;
  height: 200px;
  background-color: seagreen;
}

/* header */
ul.header-btn li {
  list-style-type: none;
}
ul.header-btn {
  justify-content: flex-end;
  display: flex;
}
 .header-icon {
  color: white;
  background-color: lightgray;
}